body {
    background-color:#4484CE;
}

h1 {
    font-size: 3em;
    font-family: 'Elsie', cursive;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    text-shadow:
       2px 2px 0 #4484CE,
     -1px -1px 0 #4484CE,  
      1px -1px 0 #4484CE,
      -1px 1px 0 #4484CE,
       1px 1px 0 #4484CE;
}

h4 {
    font-size: 2.5em;
    font-family: 'Elsie', cursive;
    font-weight: 700;
    border-bottom: 1px #4484CE;
   
}

.border-black {
    border: 3px solid #000;
}

.horizontal-border {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

#title-box {
    background-color: #F19F4D;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: 'Mukta', sans-serif;
}

#intruction-row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.instructions {
    padding: 1rem;
}

#score-row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.img-shrink {
    max-height: 160px;
}

.score-header {
    font-size: 2em;
    -webkit-text-stroke: 1px black;
    text-shadow:
       1px 1px 0 #4484CE,
     -1px -1px 0 #4484CE,  
      1px -1px 0 #4484CE,
      -1px 1px 0 #4484CE,
       1px 1px 0 #4484CE;
}

.score-text {
    font-size: 1.5rem;
}

.text-left {
    text-align: left;
}

.tangerine {
    background-color: #F19F4D;
}

.tint-box {
    background-color: #F5F5F5;
}

#gem-row {
    padding-top: 0.5em;
    background-color: #F5F5F5;
}

/* Code specific to font-awesome assets */

.fa-gem {
    color: #4484CE;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.fa-reverse {
    transform: scaleX(-1);
    animation: spin-reverse 2s infinite linear;
  }
  @keyframes spin-reverse {
    0% {
      transform: scaleX(-1) rotate(-360deg);
    }
    100% {
      transform: scaleX(-1) rotate(0deg);
    }
  }