body {
    /* Background pattern from Toptal Subtle Patterns */
    /* background-image: url(../images/gplaypattern.png); */
    background-color:#D9D9D9;
}

h1 {
    font-size: 3em;
}

#title-box {
    background-color: #F19F4D;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

#intruction-row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#score-row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.img-shrink {
    max-height: 160px;
}

.score-header {
    font-size: 2em;
}

.score-text {
    font-size: 1.5rem;
}

.tangerine {
    background-color: #F19F4D;
}

.tint-box {
    background-color: #F9FFFB;
}

#gem-row {
    padding-top: 1em;
    background-color: #D9D9D9;
}